<%- include('partials/header'); -%>
<%- include('partials/main_nav'); -%>
  

<style>
.common{
   background-color: #CBC3E3;
   text-align: center;
}
</style>
<body class="common">
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<h2>Contact us using the following details: </h2>
<div style="padding-top: 20px;">
<table align="center">
  <tr>
      <td>Contact number:</td>
      <td>+1(647)607-7041</td>
  </tr>
  <tr>
      <td>Address</td>
      <td>921 progress Ave. </td>
  </tr>
  <tr>
      <td>Linkedln </td>
      <td>@abcd34</td>
  </tr>
  <tr>
      <td>Email Id</td>
      <td>ppate783@my.centennialcollege.ca</td>
  </tr>
</table>
</div>
</body>


   <%-include ('partials/bottom_nav.ejs');%>
<%-include ('partials/footer.ejs');%>   



